<!--
/*
Title: Master Styles For Site
Author: Daniel Golden (danielgolden90@gmail.com)
*/

::selection {
    background: #06a5f8; /* Safari */
    color: #fff;
}
::-moz-selection {
    background: #06a5f8; /* Firefox */
    color: #fff;
}

/*-- Main Styles --*/
body {
    padding-bottom: 50px;
    background-image: url(../images/body_bottom_fade.jpg);
    background-repeat: repeat-x;
    background-position: 50px bottom;
}

#container {
    width: 1030px;
    margin: 0 auto;
    position: relative;
}

.header_logo_link {
    width: 183px;
    height: 51px;
    margin: 25px 0 23px 0;
    background-image: url(../images/logo.jpg);
    text-indent: -9999px;
    display: block;
    position: relative;
    left:  40px;
}

header .subtitle {
    position: absolute;
    top: 18px;
    right: 40px;
    font-size: 14px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 100;
}

#main_nav {
    width: 100%;
    height: 47px;
    margin-bottom: 34px;
    background-color: #212121;
}

#main_nav li {
    display: inline;
    position: relative;
    padding: 0 20px 0 18px;
    font-size: 17px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    line-height: 47px;
    border-right: 1px dotted #fff;
    left:  21px;
}

#main_nav li.last {
    border-right: none;
}

#main_nav li a {
        color: #fff;
    text-decoration: none;
    overflow: visible;
}

#main_nav li .active_indicator {
    position: absolute;
    left: 5px;
    bottom: -20px;
    width: 90%;
    height:5px;
    background-image: url(../images/nav_link_active.jpg);
    background-repeat: repeat-x;
}

#slider {
    width: 890px;
    margin: 0 auto 47px;
}

.home_col {
    width: 259px;
    float: left;
    position: relative;
    left: 40px;
    margin-right: 25px;
    padding: 67px 21px 22px;
    background-color: #e9e9e9;
}

.home_col.last {
    margin-right: none;
    clear: right;
}

.home_col h3 {
    width: 261px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 11px 20px 10px;
    font-size: 23px;
    font-family: "Myriad Web Pro",  "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-weight: 600;
    color: #fff;
    background-color: #2b2b2b;
}

.home_col h4 {
    float: left;
    margin: 0 0 8px 0;
    font-size: 17px;
    font-family: "Myriad Web Pro",  "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    color: #2e2e2e;
}

.home_col .date {
    float: right;
    font-size: 13px;
    font-family: "Myriad Web Pro",  "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-style: italic;
    color: #9b9b9b;
}

.home_tip {
    margin-bottom: 23px;
}

.home_tip:last-child {
    margin-bottom: 0px;
}

.home_tip .description {
    clear: both;
    margin-bottom: 9px;
    font-size: 13px;
    font-family: 'Maven Pro';
    line-height: 17px;
    color: #555;
}

.button_1 {
    display: inline-block;
    padding: 6px 9px 5px;
    font-size: 15px;
    font-family: 'Maven Pro';
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background: #06a5f8; /* Old browsers */
    background: -moz-linear-gradient(top, #06a5f8 50%, #058ef6 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#06a5f8), color-stop(50%,#058ef6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #06a5f8 50%,#058ef6 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #06a5f8 50%,#058ef6 50%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #06a5f8 50%,#058ef6 50%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06a5f8', endColorstr='#058ef6',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #06a5f8 50%,#058ef6 50%); /* W3C */
}

.button_1:hover {
background: #0699e8; /* Old browsers */
background: -moz-linear-gradient(top, #0699e8 50%, #0585e7 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#0699e8), color-stop(50%,#0585e7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #0699e8 50%,#0585e7 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #0699e8 50%,#0585e7 50%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #0699e8 50%,#0585e7 50%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0699e8', endColorstr='#0585e7',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #0699e8 50%,#0585e7 50%); /* W3C */
}

.button_1:active {
position: relative;
top: 1px;
}

.home_recent_video_preview {
    margin-bottom: 21px;
}

.home_recent_video_preview_thumb {
    float: left;
    margin-right: 15px;
}

.home_recent_video_preview h4 {
    width: 69%;
    float: left;
    margin: -3px 0 4px;
    line-height: 20px;
}

.home_recent_video_preview .date {
    font-size: 13px;
    float: left;
}

.home_recent_video_preview .button_1 {
    display: none;
}

.tweet {
    margin-bottom: 0px;
}

.tweet_content {
    font-size: 13px;
    font-family: 'Maven Pro';
    line-height: 17px;
    color: #666
}

.hash_tag {
    font-weight: bold;
    font-style: italic;
}

.tweet .time_stamp {
    font-size: 13px;
    font-family: 'Maven Pro';
    font-style: italic;
    line-height: 17px;
    color: #999;
    float: right;
}

.tweet_sep {
    margin: 10px 0 12px;
    height:1px;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}

.home_hr {
    display: block;
    margin: 0 40px 71px;
    position: relative;
    top: 37px;
    border-top: 1px dotted #dbdbdb;
    clear: both;
}

.home_content_slider_container {
    padding: 0 70px;
    position: relative;
    left: 40px;
}

.home_content_slider_container h2 {
    font-size: 36px;
    font-family: "Myriad Web Pro",  "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

.home_content_slider_container .view_all {
    float: right;
    margin-top: -20px;
    color: #999;
    font-family: 'Maven Pro';
    font-weight: 500;
    text-decoration: none;
    position: relative;
    right: 80px;
}

.home_content_slider_container .prev {
    position: absolute;
    left: 0px;
    top: 113px;
    cursor: pointer;
}

.home_content_slider_container .next {
    position: absolute;
    top: 113px;    
    right: 79px;
    cursor: pointer;
}

.home_content_slider {
    margin-top: 18px;
}

.home_content_slide {
    width: 810px;
    padding-right: 30px;
}

.home_content_slide_sec {
    width: 250px;
    float: left;
    margin-right: 30px;
}

.home_content_slide_sec.last {
    margin-right: 0px;
}

.home_content_slide_sec a.slide_link {
    display: block;
    height: 154px;
    position: relative;
    text-decoration: none;
}

.home_content_slide_sec .slide_title {
    width: 218px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 12px 16px 11px 16px;
    font-size: 17px;
    font-family: "Myriad Web Pro",  "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    text-shadow: 0 1px 2px rgba(0,0,0, .9);
    color: #fff;
    background-color: rgba(0,0,0, .59);
    line-height: 21px;
}

.home_content_slide_sec .slide_title.active {
    width: 227px;
    padding-right: 0px;
    border-right: 7px solid #06a5f8;
}

.home_content_slide_sec .slide_caption {
    margin: 16px 0 9px 0;
    font-size: 13px;
    font-family: 'Maven Pro';
    line-height: 17px;
    color: #555;
}

.home_content_slide_sec .slide_caption strong {
    font-style: italic;
    color: #333;
}

footer {
    height: 100px;
    position: relative;
    top: 50px;
    clear: both;
    background-color: #252525;
}

#footer_inner {
    width: 950px;
    margin: 0 auto;
    position: relative;
    font-size: 12px;
    font-family: 'Maven Pro';
    color: #fff;
}

#footer_inner h1 {
    width: 183px;
    height: 50px;
    text-indent: -9999px;
    background-image: url(../images/logo_footer.jpg);
    float: left;
    position: relative;
    top: 28px;
}

#footer_inner #copyright_info {
    margin-left: 130px;
    line-height: 100px;
    float: left;
}

#footer_inner #footer_links {
    position: relative;
    left: 10px;
    margin-right: 106px;
    line-height: 100px;
}

#footer_inner #footer_links li  {
    display: inline;
}

#footer_inner #footer_links li a {
    display: inline;
    padding: 0 5px;
    color: #fff;
    text-decoration: none;
}

#footer_inner #footer_links li a:hover {
    text-decoration: underline;
}

#footer_inner .social_links {
    position: absolute;
    right: 0px;
    top: 34px;
}

#footer_inner .social_links li {
    display: inline;
}

#footer_inner .social_links li a {
    display: block;
    font-size: 0px;
    line-height: 0px; /*-- ie7 negative text-indent fix --*/
    background-image: url(../images/social_icon_sprite.png);
    display: inline-block;
    width: 33px;
    height: 34px;
    margin-right: 1px;
}

#footer_inner .social_links .twitter_link {
    background-position: -33px 0px;
}

#footer_inner .social_links .linkedin_link {
    background-position: -66px 0px;
}

#footer_inner .social_links .youtube_link {
    background-position: -99px 0px;
}

#footer_inner .social_links .skype_link {
    background-position: -134px 0px;
}

/*-- Cross Browser Compatiblity --*/

.ie #main_nav li .active_indicator {
    bottom: -19px;
}

.ie7 #main_nav li .active_indicator {
    width: 80%;
    bottom: -18px;
}

.ie6 #main_nav li .active_indicator {
    width: 80px;
    bottom: -7px;
}

.ie .slider_button_2_highlight {
    height: 42px;
}

.ie8 .slider_button_2_highlight,
.ie7 .slider_button_2_highlight,
.ie6 .slider_button_2_highlight {
    height: 41px;
}

.ie6 .slider_button_2_highlight {
     right: 172px;
}

.ie8 .nivo-caption, 
.ie7 .nivo-caption, 
.ie6 .nivo-caption   {
    position:absolute;
    left:0px;
    bottom:0px;
    padding: 28px 0 0 25px;
    background-image: url(../images/slider_caption_bg.png);
    background-repeat: repeat-both;
}

.ie8 .home_content_slide_sec .slide_title,
.ie7 .home_content_slide_sec .slide_title,
.ie6 .home_content_slide_sec .slide_title {
    background-image: url(../images/slider_caption_bg.png);
    background-repeat: repeat-both;
}

.ie7 .home_tip.last {
    margin-bottom: 0px;
}

.ie7 .home_tip .description,
.ie6 .home_tip .description {
    display: none;
}

.ie7 .home_tip .button_1,
.ie6 .home_tip .button_1 {
    clear: both;
}

.ie7 header .subtitle,
.ie6 header .subtitle {
    top: 42px;
}

/*-- Custom Classes --*/

/* self-clear floats */
.group:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

-->