<!--
/*
Title: Master Styles For Site
Author: Daniel Golden (danielgolden90@gmail.com)
*/

/*-- Base Styles --*/

.main_content p {
    font-size: 13px;
    font-family: 'Maven Pro';
    line-height: 19px;
    margin: 10px 0;
    color: #444;
}

.main_content h1 {
    font-size: 36px;
    font-family: "Myriad Web Pro",  "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    line-height: 19px;
    margin: 32px 0 24px;
    color: #212121;
}

.main_content h2 {
    font-size: 32px;
    font-family: 'Maven Pro';
    font-weight: 100;
    line-height: 19px;
    margin: 32px 0 20px;
    color: #444;
}

.main_content h3 {
    font-size: 28px;
    font-family: 'Maven Pro';
    line-height: 19px;
    margin: 32px 0 18px;
    color: #444;
}

.main_content h4 {
    font-size: 24px;
    font-family: 'Maven Pro';
    font-weight: 100;
    line-height: 19px;
    margin: 32px 0 14px;
    color: #333;
}

.main_content h5 {
    font-size: 20px;
    font-family: 'Maven Pro';
    line-height: 19px;
    margin: 32px 0 18px;
    color: #444;
}

.main_content h5 {
    font-size: 16px;
    font-family: 'Maven Pro';
    line-height: 19px;
    margin: 24px 0 0px;
    color: #444;
}

.main_content h6 {
    font-size: 14px;
    font-family: 'Maven Pro';
    line-height: 19px;
    margin: 24px 0 0px;
    color: #444;
}

.main_content a {
    font-size: 13px;
    font-family: 'Maven Pro';
    line-height: 19px;
    margin: 4px 0;
    color: #058ef6;
    text-decoration: none;
}

.main_content a:hover {
    border-bottom: 1px solid #058ef6;
}

.main_content ul {
    font-size: 13px;
    font-family: 'Maven Pro';
    line-height: 19px;
    color: #212121;
    position: relative;
    left: 50px;
    color: #333;
}

.main_content blockquote {
    width: 60%;
    margin: 24px 0 20px;
    padding: 15px 0 25px;
    position: relative;
    margin-left: 14%;
    font-size: 24px;
    line-height: 32px;
    font-family: georgia;
    font-style: italic;
    border-top: 1px solid rgba(0,0,0, .15);
    border-bottom: 1px solid rgba(0,0,0, .15);
    color: #777;
}

.main_content cite {
    font-family: 'Maven Pro';
    font-size: 18px;
    position: absolute;
    bottom: 6px;
    right: 130px;
}

hr {
    clear: both;
    border-color: #e3e3e3;
}

::selection {
    background: #06a5f8; /* Safari */
    color: #fff;
}
::-moz-selection {
    background: #06a5f8; /* Firefox */
    color: #fff;
}

/*-- Main Styles --*/
body {
    padding-bottom: 50px;
    background-image: url(../images/body_bottom_fade.jpg);
    background-repeat: repeat-x;
    background-position: 50px bottom;
}

#container {
    width: 1030px;
    margin: 0 auto;
    position: relative;
}

.header_logo_link {
    width: 183px;
    height: 51px;
    margin: 25px 0 23px 0;
    background-image: url(../images/logo.jpg);
    text-indent: -9999px;
    display: block;
    position:  relative;
    left: 40px;
}

header .subtitle {
    position: absolute;
    top: 18px;
    right: 40px;
    font-size: 14px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 100;
}

#main_nav {
    width: 100%;
    height: 47px;
    margin-bottom: 34px;
    background-color: #212121;
}

#main_nav li {
    display: inline;
    position: relative;
    padding: 0 20px 0 18px;
    font-size: 17px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    line-height: 47px;
    border-right: 1px dotted #fff;
    left: 21px;
}

#main_nav li.last {
    border-right: none;
}

#main_nav li a {
        color: #fff;
    text-decoration: none;
    overflow: visible;
}

#main_nav li .active_indicator {
    position: absolute;
    left: 5px;
    bottom: -20px;
    width: 90%;
    height:5px;
    background-image: url(../images/nav_link_active.jpg);
    background-repeat: repeat-x;
}

.main_content {
    width: 960px;
    margin: 0 auto;
}

footer {
    height: 100px;
    position: relative;
    top: 50px;
    clear: both;
    background-color: #252525;
}

#footer_inner {
    width: 950px;
    margin: 0 auto;
    position: relative;
    font-size: 12px;
    font-family: 'Maven Pro';
    color: #fff;
}

#footer_inner h1 {
    width: 183px;
    height: 50px;
    text-indent: -9999px;
    background-image: url(../images/logo_footer.jpg);
    float: left;
    position: relative;
    top: 28px;
}

#footer_inner #copyright_info {
    margin-left: 130px;
    line-height: 100px;
    float: left;
}

#footer_inner #footer_links {
    position: relative;
    left: 10px;
    margin-right: 106px;
    line-height: 100px;
}

#footer_inner #footer_links li  {
    display: inline;
}

#footer_inner #footer_links li a {
    display: inline;
    padding: 0 5px;
    color: #fff;
    text-decoration: none;
}

#footer_inner #footer_links li a:hover {
    text-decoration: underline;
}

#footer_inner .social_links {
    position: absolute;
    right: 0px;
    top: 34px;
}

#footer_inner .social_links li {
    display: inline;
}

#footer_inner .social_links li a {
    font-size: 0px;
    line-height: 0px; /*-- ie7 negative text-indent fix --*/
    background-image: url(../images/social_icon_sprite.png);
    display: inline-block;
    width: 33px;
    height: 34px;
    margin-right: 1px;
}

#footer_inner .social_links .twitter_link {
    background-position: -33px 0px;
}

#footer_inner .social_links .linkedin_link {
    background-position: -66px 0px;
}

#footer_inner .social_links .youtube_link {
    background-position: -99px 0px;
}

#footer_inner .social_links .skype_link {
    background-position: -134px 0px;
}

.main_content.about {
    padding-left: 22px;
    padding-right: 22px;
    width: 918px;
}

#about_h2 {
    margin: 52px 0;
    font-size: 28px;
    color: #222;
    text-align: center;
}

.about_col{
    width: 240px;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    position: relative;
    left: 62px;
}

.about_col.last img {
    position: relative;
    bottom: 3px;
}

.about_col.last h4 {
    position: relative;
    bottom: 9px;
}

.about_col.last p {
    margin-top: 5px;

}

.about_col h4 {
    display: inline;
    position: relative;
    bottom: 4px;
    left: 14px;
    font-size: 18px;
    font-weight: 100;
}

.secondary_nav {
    width: 105px;
    float: left;
    margin-top: 30px;
}

.secondary_nav ul {
    position: static; 
}

.secondary_nav ul li a {
    display: block;
    padding: 4px 15px 2px 3px;
    margin: 0px;
    font-size: 14px;
    color: #222;
}

.secondary_nav ul li a:hover {
    border-bottom: none;
}  

.secondary_nav #current a {
    color: #fff;
    background-color: #000;
    border-right: solid 5px #058ef6;
    border-bottom: none;
}

#about_primary {
    width: 770px;
    float: right;
    margin-top: 30px;
}

#about_primary h4 {
    font-size: 24 px;
    color: #222;
}

h4#about_first_primary {
    margin-top: 0px;
}

#primary_col {
    width: 645px;
    float: left;
    margin-top: -27px;
    margin-bottom: -8px;
}

h3.blg_post_title {
    margin: 25px 0 0px 0;
}

.blg_post_title a {
    display: block;
    font-size: 32px;
    font-weight: 100;
    line-height: 37px;
    color: #222; 
}

.blg_post_title a:hover {
    border: none;
}

p.blg_post_meta {
    margin: 2px 0 9px;
    color: #999;
    color: rgba(0,0,0, .4);
}

a .blg_post_img {
    display: block;
    margin: 0 0 15px 10px !important;
}

a.button_1 {
    display: inline-block;
    padding: 4px 9px 3px;
    font-size: 15px;
    font-family: 'Maven Pro';
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background: #06a5f8; /* Old browsers */
    background: -moz-linear-gradient(top, #06a5f8 50%, #058ef6 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#06a5f8), color-stop(50%,#058ef6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #06a5f8 50%,#058ef6 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #06a5f8 50%,#058ef6 50%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #06a5f8 50%,#058ef6 50%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06a5f8', endColorstr='#058ef6',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #06a5f8 50%,#058ef6 50%); /* W3C */
}

a.button_1:hover {
    border: none;
    background: #0699e8; /* Old browsers */
    background: -moz-linear-gradient(top, #0699e8 50%, #0585e7 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#0699e8), color-stop(50%,#0585e7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0699e8 50%,#0585e7 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0699e8 50%,#0585e7 50%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #0699e8 50%,#0585e7 50%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0699e8', endColorstr='#0585e7',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #0699e8 50%,#0585e7 50%); /* W3C */
}

.button_1:active {
    position: relative;
    top: 1px;
}

.pagination {
    margin-top: 18px;
}

.pagination .pg_newer {
    float: left;
    position: relative;
    bottom: 2px;
    font-size: 17px;
    font-weight: bold;
    color: #161616;
}

.pagination .pg_older {
    float: right;
    position: relative;
    bottom: 2px;
    font-size: 17px;
    font-weight: bold;
    color: #161616;
}

.pagination .aquo {
    position: relative;
    bottom: 1.5px;
}

.pagination a.inactive {
    color: #9c9c9c;
}

.pagination ul{
    display: inline;
    position: relative;
    top: 2px;
}

.pagination ul li {
    display: inline;
    margin-right: 2px;
    position: relative;
    left: 177px;
}

.pagination ul li a {
    font-size: 17px;
    font-weight: bold;
    color: #161616;
}

.pagination ul li a:hover {
    border-bottom: 3px solid;
}

#secondary_col {
    width: 285px;
    float: right;
}

.blg_aside {
    position: relative;
    top: 23px;
}

.aside_module {
    background-color: #f6f6f6;
    border: 1px solid #eff0f1;
    padding: 18px 20px;
    margin-bottom: 23px;
}

.aside_module h3.aside_header {
    padding: 0px 0px 15px;
    margin: 0px;
    font-size: 24px;
    color: #161616;
    border-bottom: 1px solid #e2e2e2;
}

h4.ftd_post_header {
    float: left;
    margin: 18px 0px 4px;
    font-size: 17px;
    font-weight: bold;
    color: #2e2e2e;
}

.ftd_post_preview .date {
    float: right;
    position: relative;
    margin: 0px;
    padding: 0px;
    top: 19px;
    font-size: 13px;
    font-family: "Myriad Web Pro",  "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-style: italic;
    color: #acacac;
}

.ftd_post_preview .description {
    clear: both;
    color: #777;
    font-size: 13px;
    line-height: 17px;
}

.ftd_post_preview .button_1 {
    margin: 0px 0px 0px;
}

#recent_videos h3.aside_header {
    margin-bottom: 17px;
}

.recent_video_preview {
    margin-bottom: 21px;
}

.recent_video_preview_thumb{
    float: left;
    margin-right: 17px;
}

h4.recent_video_preview_header {
    font-size: 16px;
    font-family: "Myriad Web Pro",  "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-weight: bold;
    line-height: 20px;
    color: #2e2e2e;
    float: left;
    width: 65%;
    margin: -3px 0 0px;
    line-height: 20px;
} 

.recent_video_preview .date {
    margin: 0px;
    font-size: 13px;
    float: left;
    font-family: "Myriad Web Pro", "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-style: italic;
    color: #9b9b9b;
}

#recent_videos .button_1 {
    margin: -10px 0px 0px;
}

div.tweet {
    margin-bottom:13px;
}

.twitter_aside h3.aside_header {
    margin-bottom: 17px;
}

div.tweet .tweet_content {
margin: 10px 0px 0px;
line-height: 17px;
color: #555;
}

div.tweet .time_stamp {
margin: 2px 0px 0px;
padding: 0px;
font-size: 12px;
font-family: 'Maven Pro';
font-style: italic;
line-height: 17px;
color: #9b9b9b;
float: right;
font-weight: 100;
}

.twitter_aside a.button_1 {
     margin-top: -8px;
}

#products_aside h3.aside_header {
    margin-bottom: 17px;
}

.product_preview {
    margin-bottom: 21px;
}

.product_preview_thumb{
    float: left;
    margin-right: 17px;
}

h4.product_preview_header {
    font-size: 16px;
    font-family: "Myriad Web Pro",  "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-weight: bold;
    line-height: 20px;
    color: #2e2e2e;
    float: left;
    width: 65%;
    margin: -3px 0 0px;
    line-height: 20px;
} 

.product_preview .date {
    margin: 0px;
    font-size: 13px;
    float: left;
    font-family: "Myriad Web Pro", "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-style: italic;
    color: #9b9b9b;
}

#products_aside .button_1 {
    margin: -10px 0px 0px;
}

div#primary_col.cntct_primary {
    width: 605px;
}

h2.cntct_header {
    font-size: 28px;
    padding-bottom: 19px;
    border-bottom: 1px solid #ededed;
}

h4.cntct_subheader {
    margin: 10px 0 8px;
    font-size: 18px;
}

p.cntct_description {
    margin: 0px 0 20px;
    font-size: 13px;
    color: #999;
}

hr.cntct_hr {
    border-color: #ededed;
}

h3.cntct_form_error {
    margin: 22px 0 22px;
    padding: 14px 14px 11px;
    border: 1px solid #f6998c;
    font-size: 16px;
    font-weight: 500;
    color: #c8503f;
    background-color: #ffebe8;
}

h3.cntct_form_success {
    margin: 22px 0 22px;
    padding: 14px 14px 11px;
    border: 1px solid #99ce9a;
    font-size: 16px;
    font-weight: 500;
    color: #3faa3f;
    background-color: #e9ffec;
}

#cntct_form_container span {
    float: left;
    margin-bottom: 25px;
}

#name_container {
    width: 245px;
    margin-right: 40px;
}

#cntct_form_container label {
    display: block;
    margin-bottom: 12px;
    font-size: 16px;
    font-family: 'maven pro';
    font-weight: bold;
    color: #505050;
}

#cntct_form_container .message_label {
    clear: left;
}

#cntct_form_container #name_input {
    width: 245px;
    height: 35px;
    padding: 0px 7px 0px 7px;
    border: 1px solid #e1e1e1;
    box-shadow: inset 0px 1px 4px rgba(0,0,0, .04);
    font-size: 16px;
    font-family: 'maven pro';
    color: #505050;
}

#cntct_form_container #email_input {
    width: 234px;
    height: 35px;
    padding: 0px 7px 0px 7px;
    border: 1px solid #e1e1e1;
    box-shadow: inset 0px 1px 4px rgba(0,0,0, .04);
    font-size: 16px;
    font-family: 'maven pro';
    color: #505050;
}

#cntct_form_container #message_input {
    width: 100%;
    height: 164px;
    padding: 0px 7px 0px 7px;
    border: 1px solid #e1e1e1;
    box-shadow: inset 0px 1px 4px rgba(0,0,0, .04);
    font-size: 16px;
    font-family: 'maven pro';
    color: #505050;
}

#cntct_form_container input:focus {
    outline: 1px solid #058ef6;
}

#cntct_form_container textarea:focus {
    outline: 1px solid #058ef6;
}

#cntct_form_container .button_1 {
    display: inline-block;
    padding: 5px 9px 3px;
    font-size: 15px;
    font-family: 'Maven Pro';
    font-weight: 500;
    text-decoration: none;
    border: none;
    color: #fff;
    cursor: pointer;
    background: #06a5f8; /* Old browsers */
    background: -moz-linear-gradient(top, #06a5f8 50%, #058ef6 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#06a5f8), color-stop(50%,#058ef6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #06a5f8 50%,#058ef6 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #06a5f8 50%,#058ef6 50%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #06a5f8 50%,#058ef6 50%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06a5f8', endColorstr='#058ef6',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #06a5f8 50%,#058ef6 50%); /* W3C */
}

#cntct_form_container .button_1:hover {
    border: none;
    padding: 5px 9px 3px;
    background: #0699e8; /* Old browsers */
    background: -moz-linear-gradient(top, #0699e8 50%, #0585e7 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#0699e8), color-stop(50%,#0585e7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0699e8 50%,#0585e7 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0699e8 50%,#0585e7 50%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #0699e8 50%,#0585e7 50%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0699e8', endColorstr='#0585e7',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #0699e8 50%,#0585e7 50%); /* W3C */
}

#cntct_form_container button_1:active {
    position: relative;
    top: 1px;
}

#cntct_form_container #submit_button {
    margin-top: 18px;
}

.cntct_aside {
    position: relative;
    top: 16px;
}

.cntct_aside .aside_header {
    margin: 0px 0px 17px;
    padding-bottom: 8px;
    font-size: 18px;
    font-weight: 100;
    border-bottom: 1px solid #ededed;
    color: #444;
}

#secondary_col .aside_address {
    margin-bottom: 0px;
}

#secondary_col .aside_email {
    margin-top: 5px;
}

#secondary_col a.aside_email:hover {
    border-bottom: none;
    text-decoration: underline;
}

.aside_col_1 {
    float: left;
}

.aside_col_1  h5 {
    margin-top: 0px;
}

.aside_col_2 {
    float: right;
    margin-bottom: 13px;
}

.aside_col_2 h5 {
    margin-top: 0px;
}

#crunch_map {
    display: block;
    padding: 5px;
    background-color: #fbfbfb;
    border: 1px solid #efefef;
    margin-top: 20px;
}

/*-- Cross Browser Compatibility --*/
.ie #main_nav li .active_indicator {
    position: absolute;
    left: 5px;
    bottom: -19px;
}

.ie7 #main_nav li .active_indicator {
    width: 80%;
    bottom: -18px;
}

.ie6 #main_nav li .active_indicator {
    width: 80px;
    bottom: -7px;
}

.ie8 #crunch_map:hover {
    margin-top: 4px;
    padding: 5px;
}

.ie7 header .subtitle,
.ie6 header .subtitle {
    top: 42px;
}

.ie6 .secondary_nav ul li a {
    padding: 4px 15px 2px 3px;
    line-height: 5px;
    margin-bottom: -17px;
}

.ie6 #about_h2 {
    margin: 20px 0 52px;
    font-size: 28px;
    color: #222;
    text-align: center;
}

.ie6 .about_col.last {
    margin-bottom: 0px;
}

.ie6 .aside_module h3.aside_header {
    font-size: 21px;
}

.ie6 #cntct_form_container .button_1 {
    padding: 5px 9px 14px;
}
    

/*-- Custom Classes --*/

/* self-clear floats */
.group:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

-->